.container{
    margin-bottom: 100px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
.h6t{
    margin-top: 20px;
}
.see-all{
    text-decoration: none;
    font-weight: 500;
    color: #ff9c35;
}
.card-img-top{
    width: 60%;
    margin-top: 30px;
}

.card-id{
    text-align: center;
    align-items: center;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;
}
.cat-hr{
    background-image: linear-gradient(45deg, rgb(243, 195, 140), orange );
    border-radius: 10px;
    height: 5px;
    width: 100px;
    margin-top: -2px;
    margin-bottom: 50px;
}
.card-body{
    text-align: center;
}
.card img{
    width: 70%;
}    
img{
    vertical-align: middle;
    border-style: none;
}
.align-items-center{
    align-items: center!important;
}
.cus-bottom1{
    border-top-left-radius: 3px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 3px;
    text-align: center!important;
    padding-top: 30px;
    height: 300px;
}
.cus-bottom2{
    border-top-left-radius: 3px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 3px;
    text-align: center!important;
    padding-top: 30px;
    height: 300px;
}
.cat-img{
    width: 100%;
}
.bg-gray{
    background-color: #6c757d;
    height: 300px;
}

#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
#Subscribe{
    background-color: #feeae9;
}
#its-me{
    margin-top: 50px;
}